.content {
  grid-area: c;
  background-color: #eeeeee;
}

.content img {
  width: 500px;
}

.desription {
  padding: 10px 0 10px 10px;
}
.posts {
  padding: 10px 0 10px 10px;
}
.newPost {
  margin-bottom: 10px;
}